/node_modules

/apps/server/node_modules
/apps/server/dist
/apps/server/.turbo

/apps/web/node_modules
/apps/web/dist
/apps/web/.turbo
/apps/web/.tanstack/tmp

/.turbo

/build
/packages

.gitignore

*.md